<div class="nav-component">
  <div class="species-select">
    <span>Status:</span>
    <select #status>
      <option value="">All</option>
      <option>Alive</option>
      <option>Dead</option>
    </select>
  </div>
  <div class="species-select">
    <span>Species:</span>
    <select #species>
      <option value="">All</option>
      <option>Human</option>
      <option>Alien</option>
    </select>
  </div>
  <div class="species-select">
    <span>Gender:</span>
    <select #gender>
      <option value="">All</option>
      <option>Male</option>
      <option>Female</option>
      <option>Genderless</option>
      <option>Unknown</option>
    </select>
  </div>

  <div class="button">
    <button (click)="submit(status.value, species.value, gender.value)">View</button>
    <button (click)="submit(status.value='', species.value='', gender.value='')">Reset</button>
  </div>
</div>
<ng-content></ng-content>
